# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
ShaderCollection/Library/ShaderCache/e/ebcc3a38f0238ee2166a6e0818451f67.bin
ShaderCollection/Library/ShaderCache/6/66013b4560d35939ad5a682f405a2d5b.bin
ShaderCollection/Library/ShaderCache/2/29befde0151f2963e40412fab683ff96.bin
ShaderCollection/Library/ShaderCache/1/14567a9df86ae1d681bd51f2acdafcb6.bin
ShaderCollection/Library/EditorInstance.json
ShaderCollection/Library/CrashedAssetImports.txt
ShaderCollection/Temp/UnityTempFile-f826c209aeed7334cabd7b014a4b6c49
ShaderCollection/Temp/UnityTempFile-ed3bb5c9298ac12429485bb8c323d752
ShaderCollection/Temp/UnityTempFile-cba562c9871803c409357636859f97d1
ShaderCollection/Library/metadata/f9/f9efbe16b17b3c440967f3fd4c03dcf2
ShaderCollection/Library/metadata/f2/f23fa205087a7e340b2b348c2c56b99e.info
ShaderCollection/Library/metadata/f2/f23fa205087a7e340b2b348c2c56b99e
ShaderCollection/Library/metadata/e5/e53bd8dd1779b7c4098df7e14f4976ab.info
ShaderCollection/Library/metadata/e5/e53bd8dd1779b7c4098df7e14f4976ab
ShaderCollection/Library/metadata/b5/b5e5e2c33de0990459a9e2b9d3ecffdc.info
ShaderCollection/Library/metadata/b5/b5e5e2c33de0990459a9e2b9d3ecffdc
ShaderCollection/Library/metadata/b2/b2b77d7962e3d874890c8b997ad71205.info
ShaderCollection/Library/metadata/41/415e1a2982362824f8a42e1f13c8773d.info
ShaderCollection/Library/metadata/41/415e1a2982362824f8a42e1f13c8773d
ShaderCollection/Library/metadata/33/3345ae446757d054b938bdd71ffe2773.info
ShaderCollection/Library/metadata/33/3345ae446757d054b938bdd71ffe2773
ShaderCollection/Temp/UnityTempFile-8cd070c5000c3d545afa78c665fd5315
ShaderCollection/Temp/UnityTempFile-86dc4cdaf6529bc429aef178625e6f61
ShaderCollection/Temp/UnityTempFile-7f97e43dd55afe446b43581e09acd7eb
ShaderCollection/Temp/UnityTempFile-605ed869603a8c3429c4a07d0fd4e025
ShaderCollection/Temp/UnityTempFile-5f70e3d9797b8db4484df8589497c310
ShaderCollection/Temp/UnityTempFile-5038053c5a4620342b8dc58ab99a02c9
ShaderCollection/Temp/UnityTempFile-48f0c46e8db07594f923520004ade87f
ShaderCollection/Temp/UnityTempFile-38eb42d60eda9ca49ae22fe5f1b3a1ff
ShaderCollection/Temp/UnityLockfile
ShaderCollection/Temp/TarGZ/archtemp.tar
ShaderCollection/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
ShaderCollection/Library/metadata/f9/f9efbe16b17b3c440967f3fd4c03dcf2.info
ShaderCollection/Library/metadata/b2/b2b77d7962e3d874890c8b997ad71205
ShaderCollection/Library/metadata/50/504a905c0679973448ffb902209e8b59.info
ShaderCollection/Library/metadata/50/504a905c0679973448ffb902209e8b59
